<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-iXRTLLT6-V3iEf0bUpMB4BQeTmQy28Y</string>
	<key>GCM_SENDER_ID</key>
	<string>76604438548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinantanrikut.WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-2b58f</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-2b58f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76604438548:ios:0819e31bfff11843a08f01</string>
</dict>
</plist>